doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='../node_modules/normalize.css/normalize.css' type='text/css' rel='stylesheet')
  link(href='../node_modules/colors.css/src/_variables.css' type='text/css' rel='stylesheet')
  link(href='./assets/css/index.css' type='text/css' rel='stylesheet')
  title= title
body
  main
    h1= title
    each suit in suits
      .suit
        each value in values
          div
            div.card.card-animated.card-selectable(
              tabindex='1',
              class=`card-${suit} card${value === '10' ? ' card-2-digits' : ''}`
            )
              div #{value}
